# .NET
bin/
obj/
*.user
*.suo
.vs/
*.db
*.db-shm
*.db-wal
appsettings.Development.json


# React
frontend/node_modules/
frontend/.env
frontend/.env.local
frontend/dist/
frontend/build/

# General
.DS_Store
Thumbs.db
*.log
*.vscode/